body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #051c61;
}

main {
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

p {
  margin-bottom: 15px;
  padding: 0px;
  align-items: left;
  
}
input {
  margin-bottom: 5px;
  padding: 10px;
  width: 260px;
}

button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #484747;
  width: 80px;
}